<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.saeid.libgdx.androidleak"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23"
        />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="io.saeid.libgdx.androidleak.LeakApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/GdxTheme"
        >
        <activity
            android:name="io.saeid.libgdx.androidleak.AndroidLauncher"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="io.saeid.libgdx.androidleak.fragment.LeakFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name="io.saeid.libgdx.androidleak.activity.LeakActivity">
        </activity>
    </application>

</manifest>
